# Composer files
## exclude vendor directory except for autoload.php and composer subdirectory
/vendor/*
!/vendor/autoload.php
!/vendor/composer
## exclude vendor directory for behat tests
/tests/behat/vendor

# Config files
/common/configuration.ini

# Workspace directory for IDE
/.idea
